*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 10px;
}
.inputBox{
    position: relative;
    width: 250px;
    margin: 20px;
    
    
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
    margin-top: 10px;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: black;
    transition: 0.5s;

}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 10px;
    padding: 0 10px;
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.2em;
}


.inputBox input:valid ,
.inputBox input:focus {
    border: 1px solid black;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: bold;
	background: #1E90FF;
	width: 100px;
    height: 20px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.divBtn{
    width: 100%;
    display: flex!important;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
.btnA{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: bold;
	background: #1E90FF;
	width: 100px;
    height: 20px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btnU{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Roboto", sans-serif;
    margin-right: 5px;
	font-size: 18px;
    height: 5px;
	font-weight: bold;
	background: green;
	width: 70px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
    color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.btnD{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: "Roboto", sans-serif;
    margin-right: 5px;
	font-size: 18px;
    height: 5px;
	font-weight: bold;
	background: red;
	width: 70px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
    color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.tableUser th{
    padding: 20px; 
}
.user-tab td{
padding: 20px;
}